<div id="navbar">
  <h4>Today List</h4>

  <div id="profile-picture">
    <div id="profile-box">
      <div id="profile" class="profile-box-items">
        <a href="">Profile</a>
      </div>
      <hr />
      <div id="sign-out" class="profile-box-items">
        <a href="/user/sign-out"> Sign Out </a>
      </div>
    </div>
  </div>
</div>

<script src="/js/_navbar.js"></script>
