<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today List</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <main>
        <div id="main-container">
            <div id="info-div">
                <img
                    src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                <div id='headings'>
                    <h1>Today List</h1>
                    <h2>Your Daily Planner</h2>
                </div>
            </div>

            <!-- <% if(locals.err_msg) { %>  -->
                <!-- <div role="alert" style="z-index: 20; width: 100px; height: 100px; background-color: black; color: white;">
                    <%= err_msg %> </div> -->
            <!-- <% } %> -->
           
            <div id="sign-in-div">
                <div id="sign-in-form" class="form">
                    <form action="/user/create-session" method="post" id="manual-sign-in" class="manual">
                        <input type="email" name="email" placeholder="Email address" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" value="Log In" id="log-in">
                    </form>
                    <div id="forgot-password">
                        <a href="">Forgotten password?</a>
                    </div>
                    <hr>
                    <div id="create-account">
                        <button>
                            Create New Account
                        </button>
                    </div>

                    <div id="google-sign">
                        <form action="/user/auth/google" method="get" class="google-sign-in">
                            <button type="submit">
                                <i class="fab fa-google fa-lg"></i>
                                Sign in with Google
                            </button>
                        </form>
                    </div>

                </div>


                <div id="sign-up-form" class="form">

                    <!-- <div id="phone-error-message" class="">
                        <p>
                            Please enter digits only!
                        </p>
                    </div> -->

                    <form action="/user/create" method="post" id="manual-sign-up" class="manual">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email address" required>
                        <input type="text" name="phone" placeholder="Contact Number" id="phone-number" class=""
                            onkeypress="return onlyNumberKey(event)" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                        <input type="submit" value="Sign Up" id="sign-up">
                    </form>

                    <hr>
                    <div style="text-align: center; width: 100%; ">
                        Already have an account?
                        <a href="" id="sign-in-redirect" style="text-decoration: none; color: blue;">Sign In</a>
                    </div>

                    <div id="google-sign">
                        <form action="/user/auth/google" method="get" class="google-sign-in">
                            <button type="submit">
                                <i class="fab fa-google fa-lg"></i>
                                Sign in with Google
                            </button>
                        </form>
                    </div>                  

                </div>


            </div>
        </div>

        <% if(flash.success && flash.success.length>0) { %> 
            
            <h2 style="font-family: Arial, Helvetica, sans-serif;">
                <%= flash.success %>
            </h2>
            
        <% } %>

        <% if(flash.error && flash.error.length>0) { %> 
            
            <h2 style="font-family: Arial, Helvetica, sans-serif;">
                <%= flash.error %>
            </h2>
            
        <% } %>
         
       
    </main>
    <script src="/js/home.js"></script>
    <script>
        var flag = false;

        var manualSignUpDiv = document.getElementById('manual-sign-up');

        function onlyNumberKey(evt) {
            // console.log(evt.target);
            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (((ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) || evt.target.value.length > 9)) {

                if (evt.target.value.length > 9) {
                    console.log("inside if")
                    
                    manualSignUpDiv.classList.add('show-error-div-length');
                } else{
                    console.log("inside else if");
                    
                    manualSignUpDiv.classList.add('show-error-div-alphabet');
                }
                if(flag==false){
                    evt.target.className = evt.target.className + " error";
                }
                setTimeout(function(){
                    manualSignUpDiv.classList.remove('show-error-div-alphabet');
                    manualSignUpDiv.classList.remove('show-error-div-length');
                },5000)
                flag = true;
                return false;
            }

            evt.target.className = evt.target.className.replace(" error", "");
            flag = false;
            manualSignUpDiv.classList.remove('show-error-div-alphabet');
            manualSignUpDiv.classList.remove('show-error-div-length');
            return true;
        }
    </script>

    <%- include('_noty'); -%>
</body>
</html>