<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today</title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <div id="headings">
        <h1>Today List</h1>
        <h3>Your Daily Planner</h3>
    </div>

    <div>
        <h4>Makes it easier for you to plan your work by using Today List!</h4>
    </div>
    
    
</body>
</html>