<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today List</title>
    <link rel="stylesheet" href="/css/otp.css">
</head>

<body>
    <div id="mail-verification">
        <h1>Enter 6 Digit OTP Sent On Your Mail.</h1>
        <form action="" method="post">
            <div id="otp" class="flex justify-center">
                <input class="form-control form-control-solid" type="text" id="first" maxlength="1" />
                <input class="form-control form-control-solid" type="text" id="second" maxlength="1" />
                <input class="form-control form-control-solid" type="text" id="third" maxlength="1" />
                <input class="form-control form-control-solid" type="text" id="fourth" maxlength="1" />
                <input class="form-control form-control-solid" type="text" id="fifth" maxlength="1" />
                <input class="form-control form-control-solid" type="text" id="sixth" maxlength="1" />
            </div>
            <button class="otp-button" type="submit">Submit</button>
        </form>
        <button class="otp-button" type="submit">Resend OTP</button>
    </div>
</body>

</html>