<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today List</title>

    <link rel="stylesheet" href="/css/task.css">
    <link rel="stylesheet" href="/css/_navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css"
        integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"
        integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>


    <%- include('_navbar'); -%>
        <div id="todaylist-container">
            <h1 class="heading">TODAY LIST</h1>
            <div id="task-details">
                <div id="task-description">
                    <h4 class="description-heading">DESCRIPTION</h4>
                    <div id="task-input">
                        <textarea type="text" placeholder="What do you need to do?"></textarea>
                    </div>
                </div>
                <div id="category-date">
                    <div id="category">
                        <h4 class="description-heading">CATEGORY</h4>
                        <div id="choose-category">
                            <select name="category" id="select-category">
                                <option value="" disabled selected>Choose a category</option>
                                <option value="personal">Personal</option>
                                <option value="work" id="op1">Work</option>
                                <option value="study">Study</option>
                                <option value="workout">Workout</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div id="date">
                        <h4 class="description-heading">DUE TIME</h4>
                        <input type="time" name="due_time">
                    </div>
                </div>
            </div>
        </div>
        <%- include('_noty'); -%>
</body>

<script>
    var today= new Date(); 
    console.log(today.getHours()+':'+today.getMinutes());
    console.log(document.getElementsByName('due_time')[0].innerHTML);
    // .min= today.getTime();
    // document.getElementById('date').innerHTML= today.getDate() + "/" + today.getMonth() + "/" + today.getFullYear();
</script>
</html>