<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/_navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css"
      integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/3128b68454.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"
      integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script src="/js/_navbar.js"></script>
    <script src="/js/profile.js"></script>
  </head>
  <body>
    <%- include('_navbar'); -%>
    <div id="outer-div">
      <div id="profile-picture-outer">
        <div id="profile-picture">
          <% if( user.avatar ){ %>
            <img src="<%=user.avatar%>" alt="<%=user.name%>" height="100%" width="100%" id="avatar-image">
          <% } else{ %>
            <img src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png" alt="<%=user.name%>" height="100%" width="100%" id="avatar-image">
          <% } %>
          
        </div>
        <div id="change-profile">
          <form
            action="/user/update-profile-picture"
            enctype="multipart/form-data"
            method="post"
            id="upload-profile"
          >
            <label for="avatar">Change profile photo</label>
            <input
              type="file"
              name="avatar"
              id="avatar"
              placeholder="Change profile photo"
              style="display: none"
            />
            <button type="submit" value="Change AVATAR">Change AVATAR</button>
          </form>
        </div>
      </div>
      <div id="update-password">
        <h4>Change Password:</h4>
        <form
          action="/user/update-password"
          method="post"
          id="update-password-form"
        >
          <div id="old-password" class="input-box">
            <input
              type="password"
              name="oldPassword"
              placeholder="Enter old password"
              class="password-input"
              required
            />
            <i class="bi bi-eye-slash" id="toggleOldPassword"></i>
          </div>
          <div id="new-password" class="input-box">
            <input
              type="password"
              name="newPassword"
              placeholder="Enter new password"
              class="password-input"
              required
            />
            <i class="bi bi-eye-slash" id="toggleNewPassword"></i>
          </div>
          <div id="confirm-new-password" class="input-box">
            <input
              type="password"
              name="newConfirmPassword"
              placeholder="Confirm new password"
              class="password-input"
              required
            />
            <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
          </div>

          <button id="reset-password" type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/js/profile.js"></script>
</html>
