$small: 850px;
body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    
    #main-container {
        display: flex;
        #info-div {
            @media screen and (max-width: 900px) {
                width: 100%;
            }

            width: 60%;
            height: 100vh;
            // border: 1px solid black;
            // background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.7;
                position: absolute;
            }
            #headings {
                width: 100%;
                display: inline-block;
                position: absolute;
                color: oldlace;
                text-align: center;
                // border: 1px solid black;
                h1 {
                    font-size: 3.5rem;
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 2rem;
                    margin-top: 10px;
                }
            }
        }
        #sign-in-div {
            @media screen and (max-width: 900px) {
                width: 0;
                z-index: 2;
                position: relative;
                right: 50%;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100vh;
            // border: 1px solid red;
            background-color: #f0f2f5;

            hr {
                margin: 10px 50px;
            }
            .form {
                @media screen and (max-width: 900px) {
                    margin-top: 50px;
                    position: relative;
                    top: 10%;
                    box-shadow: 0px 0px 1px 1px #dcdde0;
                }
                transition: 1s ease-in;
                width: 60%;
                height: 55%;
                background-color: white;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 5px#DCDDE0;
                min-height: 370px;
                min-width: 300px;
                position: relative;

                
                
                #forgot-password {
                    width: 100%;
                    // border: 1px solid black;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: blue;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
                .manual {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    input {
                        width: 90%;
                        height: 45px;
                        margin: 10px 0;
                        padding: 0 20px;
                        border: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: medium;
                        border-width: 1px;
                        border-radius: 10px;
                        box-sizing: border-box;
                        background-color: #f0f2f5;
                    }
                    input:focus {
                        outline: 1px solid #1877f2;
                    }
                    input::placeholder {
                        color: #b5b7b9;
                    }
                    input[type="submit"] {
                        width: 50%;
                        outline: none;
                        background-color: lightgray;
                    }
                }

                // #phone-error-message{
                //     width: 100px;
                //     height: 100px;
                //     border: 1px solid blue;
                //     background-color: wheat;
                //     opacity: 0.5;
                //     position: absolute;
                // }


                // .show-error-div::before{
                //     display: inline-block;
                // }

                #manual-sign-up {
                    input {
                        height: 33px;
                        margin: 5px 0;
                    }

                    .error{
                        outline-color: red;
                    }
                }

                .show-error-div::before{
                    content: "Please enter digits only";
                    font-size: smaller;
                    text-align: center;
                    color: red;
                    width: 100px;
                    height: 40px;
                    background-color: white;
                    opacity: 0.8;
                    position: absolute;
                    left: -110px;
                    top: 90px;
                }

               

                #create-account {
                    width: 100%;
                    // border: 1px solid black;
                    text-align: center;
                    margin-top: 10px;
                    button {
                        width: 60%;
                        height: 40px;
                        border: none;
                        background-color: #8f6c50;
                        color: white;
                        border-radius: 20px;
                        font-weight: bold;
                    }
                }
                #google-sign {
                    width: 100%;
                    text-align: center;
                    margin-top: 15px;
                    // border: 1px solid black;
                    .google-sign-in {
                        button {
                            width: 70%;
                            outline: none;
                            background-color: #cf4332;
                            color: white;
                            border: none;
                            height: 40px;
                            border-radius: 20px;
                            font-weight: bold;
                            i {
                                margin: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}
