body{
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    #main-container{
        display: flex;
        #info-div{
            width: 60%;
            height: 100vh;
            border: 1px solid black;
            // background-image: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
            position: relative;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.70;
                position: absolute;
            }
            #headings{
                display: inline-block;
                position: absolute;
                left: 35%;
                color:oldlace;

                h1{
                    font-size: 3.5rem;
                }
                h2{
                    font-size: 2rem;
                }
            }
        }
        #sign-in-div{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100vh;
            border: 1px solid red;
            background-color: #F0F2F5;

            hr{
                margin: 10px 50px;
            }
            #sign-in-form{
                width: 60%;
                height: 50%;
                background-color:white;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 5px#DCDDE0;
                #manual-sign-in{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    input{
                        width: 90%;
                        height:45px;
                        margin: 20px 0;
                        padding: 0 20px;
                        border: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: medium;
                        border-width: 1px;
                        border-radius: 10px;
                        box-sizing: border-box;
                        background-color: #F0F2F5;
                    }
                    input:focus{
                        outline: 1px solid #1877F2;

                    }
                    input::placeholder{
                        color: #b5b7b9;
                    }
                    input[type="submit"]{
                        width: 50%;
                        outline: none;
                        background-color: lightgray;
                    }
                    #google-sign-in{
                        button{
                            width: 50%;
                            outline: none;
                            background-color: lightgray;
                        }
                    }

                }
            }
        }
    }
}