body{
    margin: 0;
    overflow-x:hidden;
    
    #todaylist-container{

        @media screen and (max-width: 850px) {
            width: 100%;
        }

        // border: 1px solid black;
        border-left: 1px solid #c9c0bf;
        border-right: 1px solid #c9c0bf;
        padding: 0;
        width: 70%;
        height: 100vh;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        .heading{
            font-family: 'Courier New', Courier, monospace;
            color: #666666;
            font-size: 2.5em;
            font-weight: 500;
        }
        #task-details{
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30%;
            .description-heading{
                margin: 0;
                color: #686c6f;
                // font-family: monospace;
                margin-bottom: 8px;
                font-size: smaller;
            }
            #task-description{
                //  border: 1px solid green;
                width: 100%;
                height: 50%;
                padding: 10px 20px;
                box-sizing: border-box;
                
                border-top: 1px solid #c9c0bf;
                border-bottom: 1px solid #c9c0bf;
                
                #task-input{
                    width: 100%;
                    height: 80%;
                    // border: 1px solid pink;
                    textarea{
                        width: 97%;
                        height: 90%;
                        border: none;
                        outline: none;
                        resize: none;
                    }
                    textarea::placeholder{
                        color: #c9c0bf;
                    }
                }
            }
            #category-date{
                display: flex;
                width: 100%;
                height: 50%;
                flex-direction: row;
                // border: 1px solid orange;
                border-bottom: 1px solid #c9c0bf;
                #category{
                    width: 50%;
                    height: 100%;
                    // border: 1px solid yellow;
                    border-right: 1px solid #c9c0bf;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    #choose-category{
                        width: 100%;
                        height: 40%;
                        // border: 1px solid blue;
                        
                        #select-category{
                            width: 100%;
                            height:100%;
                            outline: none;
                            border: none;
                            option:hover{
                                background-color: mediumpurple !important;
                            }
                        }
                    }
                }
                #date{
                    width: 50%;
                    height: 100%;
                    // border: 1px solid violet;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    input{
                        outline: none;
                        border: none;
                        margin-right: 50px;
                        margin-top: 10px;
                    }
                }
            }
        }
        #task-buttons{
            width: 100%;
            height: 15%;
            // border: 1px solid greenyellow;
            border-bottom: 1px solid #c9c0bf;
            display: flex;
            justify-content: center;
            align-items: center;
            .task-button{
                width: 250px;
                height: 60px;
                font-size: 1.5em;
                outline: none;
                border: none;
                margin: 0 20px;
                color: white;
                font-family: monospace;
            }
        }
        #tasks-list{
            width: 100%;
            height: 55%;
            overflow-y: scroll;
            overflow-x: hidden;
            // border: 1px solid red;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    .task{
                        width: 100%;
                        height: 120px;
                        // border: 1px solid purple;
                        border-bottom: 1px solid #c9c0bf;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .task-left{
                            width: 80%;
                            height: 100%;
                            // border: 1px solid purple;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0 20px;
                            .task-left-info{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                color: #666666;
                            }
                            .task-left-date{
                                margin: 0 0 0 40px;
                                color: gray;
                            }
                        }
                        .task-right{
                            width: 20%;
                            height: 100%;
                            // border: 1px solid purple;
                            position: relative;
                            div{

                                width: 80px;
                                height: 40px;
                                padding-top: 10px;
                                box-sizing: border-box;
                                text-align: center;
                                background-color: lightpink;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
}